// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  height: 90px;
  background-color: #ff8c00;
  border-bottom: 20px solid #ffa500;
  
  &__logo {
    text-align: center;
    font-size: 36px;
    line-height: 90px;
    color: white;
  }
}

.contents {
  background-color: #fffacd;
  width: 900px;
  height: calc(100vh - 110px);
  margin:0 auto;

  &__message {
    color: #ffa500;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__btn {
    display: block;
    text-align: center;
    height: 80px;
    width: 360px;
    font-size:20px;
    color: white;
    margin:0 auto;
    line-height: 80px;
    border-radius: 10px;
    margin-bottom: 50px;
    text-decoration: none;

    &--facebook {
      background-color: #4169e1;
    }

    &--twitter {
      background-color: #00bfff;
    }

    &--instagram {
      background-color: #fc76bf;
    }

    &--icon {
      padding-right: 20px;
    }
  }
}